/* -------------------------- Fonts -------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Montserrat:ital,wght@0,200;0,300;0,800;0,900;1,200&family=Noto+Sans&family=Raleway:wght@800&display=swap");

/* -------------------------- Common -------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h2 {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  padding-bottom: 50px;
}
.mainLogo {
  background-image: url("./image/logo.png");
  background-size: cover;
  width : 50px;
  height : 50px;
  background-position: center center;
  background-size: 100% 100%;
}
.context {
  list-style-type: none;
  padding: 20px 40px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.landingPage, .skillPage, .experiencePage, .workPage  {
  width: 100vw;
  height: 100vh;
  padding: 220px;
}

/* -------------------------- Nav Section -------------------------- */
.navbar {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  padding: 0 170px 0 170px;
  align-items: center;
  background-color: rgba( 255, 255, 255, 0.5 );
}
.navbar li {
  padding: 0 10px;
}

/* -------------------------- Scroll Section -------------------------- */
.scrollSection {
  position: fixed;
  top: 44%;
  right: 10px;
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.scrollWrapper {
  height: 100px;
  width: 5px;
  background-color: #fff;
}

.scrollbar {
  background: rgba(31, 162, 255, 1);
}
.scroll {
  color: rgb(142, 142, 142);
  transform: rotate(-90deg);
  letter-spacing: 3px;
}

.scrollLogo {
  position: fixed;
  bottom: 10px;
  left: 48%;
}

.goUp {
  position: fixed;
  background: transparent;
  color: rgba(0, 0, 0, 0.4);
  font-size: 50px;
  bottom: 30px;
  right: 40px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.goUp.show {
  opacity: 1;
}

/* -------------------------- Main Section -------------------------- */
.landingPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing__about {
  width: 360px;
  letter-spacing: 3px;
  z-index: 10;
}
.landing__about h2 {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  padding-bottom: 20px;
}
.landing__shake {
  font-size: 30px;
  display: inline-block;
  animation: shake 1s ease-in-out infinite;
  transform: rotate(-10deg);
  transform-origin: 50%;
}
.image-box {
  background-image: url("./image/diagram_main.png");
  background-size: cover;
  width : 500px;
  height : 500px;
  animation: upDown 1s infinite alternate;
}

@keyframes upDown {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(0,20px);
  }
}
@keyframes shake {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/* -------------------------- Experience Section -------------------------- */
.timeline {
  margin: 0 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 5px solid #1FA2FF;
}
.event {
  position: relative;
  list-style-type: none;

  &:last-of-type { 
      padding-bottom: 0;
      margin-bottom: 0; 
      border: none;      
    }

  &:before, &:after {
      position: absolute;
      display: block;
      top: 0;
    }
  
  &:before {
    left : -200px;
    content: attr(data-date);
    color: #747474;
  }

  &:after {
      box-shadow: 0 0 0 4px #1FA2FF; 
      background: #fff;  
      left : -47px;
      border-radius: 50%;  
      height: 11px;
      width: 11px;
      content: "";
      top: 5px;
    }
}
.event h2 {
  padding-bottom: 10px;
  font-size: 30px;
}
.event p {
  margin-bottom: 70px;
  color: #747474;
}

/* -------------------------- Skill Section -------------------------- */
.skillWrapper {
  display: flex;
  justify-content: flex-start;
}

.skillWrapper .skill {
  list-style-type: none;
  padding: 0;
}
.skill__name li {
  padding: 15px 0;
}
.skill__bar {
  margin: 15px 0 0 35px;
  width: 100%;
}
.skill__bar li {
  margin-bottom: 23px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: rgba(208, 208, 208, 0.1);
}
.skill__bar li div {
  text-align: right;
  padding-right: 20px;
  font-size: 20px;
  color: #fff;
  width: 0;
  height: 30px;
  border-radius: 10px;
  background: linear-gradient(
    39deg,
    rgba(18, 216, 250, 1) 0%,
    rgba(166, 255, 203, 1) 100%
  );
  transition: all 1s ease-in-out;
}

/* -------------------------- Projects Section -------------------------- */
.workPage .projects {
  display: flex;
  justify-content: center;
  min-width: 600px;
}

.project {
  width: 0;
  overflow: hidden;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -2px 19px 44px 0px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100% 80%;
  margin-left: 30px;
  transition-duration: .5s;

  &:hover {
    transform: translateY(-6px);
    animation-name: "hover";
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
.project p {
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.project:first-of-type {
  background-image: url("./image/ddoda_main.png");
  background-size: 100%;
}
.project:last-of-type {
  background-image: url("./image/blog_main.png");
  background-size: 100%;
}

/* -------------------------- Contact Section -------------------------- */
.contactPage {
  background: linear-gradient(
    39deg,
    rgba(18, 216, 250, 1) 0%,
    rgba(166, 255, 203, 1) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentwrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: -2px 19px 44px 0px rgba(0, 0, 0, 0.16);
  transition: all 1s cubic-bezier(0.83, 0.01, 0.09, 0.99);
}

.contentwrapper h2 {
  padding-bottom: 30px;
}
.content {
  display: block;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-in-out;
  padding-bottom: 40px;
}
.contentwrapper p {
  line-height: 30px;
}
.contentwrapper h4 {
  padding-top: 30px;
  padding-bottom: 5px;
}
.contentwrapper p:last-of-type {
  color: rgba(0, 0, 0, 0.4);
}
.goUp {
  cursor: pointer;
}
.linkTo {
  font-size: 30px;
  display: flex;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-in-out;
  justify-content: flex-start;
}
.linkTo img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.linkTo i {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.linkTo i:hover,
.linkTo img:hover {
  transform: scale(1.1);
}
.contact-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-profile{
  background-image: url("./image/profile.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.contact-content p {
  width: 80%;
  height: 100%;
  align-self: flex-end;
}
.contact-icon {
  margin-top: 20px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
}
.contact-icon li {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.contact-icon li i {
  width: 100%;
  height: 100%;
}
.contact-icon li a:link  {
  color: #000;
}

/* -------------------------- Modal Section -------------------------- */
.modalWrapper {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.modalInner {
  height: 90vh;
  width: 90%;
  position: fixed;
  top: 5%;
  left: 5%;
  padding: 50px;
  border-radius: 10px;
  background: #fff;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.modal_desc {
  letter-spacing: 2px;
}

.modalWrapper.show {
  z-index: 100;
  opacity: 1;
}
.modalInner.show {
  opacity: 1;
}
.modal_detail {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modal_detail .fab.fa-github {
  font-size: 30px;
  margin-top: 20px;
}
.modal_detail p {
  font-size: 20px;
  padding-top: 13px;
  padding-left: 10px;
}
.modal_detail p:hover {
  color: #747474;
}
.modal_close {
  position: absolute;
  text-align: center;
  color: #fff;
  width: 30px;
  height: 30px;
  right: 50px;
  top: 50px;
  font-size: 20px;
  cursor: pointer;
  background: linear-gradient(
    39deg,
    rgba(149, 237, 149, 1) 0%,
    rgba(110, 206, 219, 1) 100%
  );
  border-radius: 10px;
}